*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f53838;
  --clr-dark: #4f5665;
  --clr-titles: #0b132a;
  --clr-light: #f6f6f6;
  --fw-normal: 400;
  --fw-bold: 500;
  --fw-black: 700;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: var(--clr-dark);
  line-height: 1.6;
  background-color: var(--clr-light);
}

h1 {
  color: var(--clr-titles);
  line-height: 1.6;
  font-weight: var(--fw-bold);
}

p {
  margin: 0;
}

.btn {
  text-decoration: none;
}

.btn--outline {
  color: var(--clr-primary);
  border-radius: 50px;
  border: 1px solid var(--clr-primary);
  padding: 0.5em 1.2em;
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
  transition: 300ms;
}

.btn--outline:hover {
  color: var(--clr-light);
  background-color: var(--clr-primary);
}

.btn--danger {
  color: var(--clr-light);
  background-color: var(--clr-primary);
  font-weight: var(--fw-black);
  font-size: 1rem;
  padding: 1.1em 4.5em;
  border-radius: 10px;
  box-shadow: 0 15px 15px -6px rgba(245, 56, 56, 0.35);
  transition: 200ms ease-in-out;
}

.btn--danger:hover {
  background-color: rgba(245, 56, 56, 0.8);
}

header {
  color: var(--clr-dark);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 200px;
  margin: 1rem;
}

.navbar--links {
  width: 100%;
}

.navbar--links ul {
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.navbar--links ul.active {
  display: flex;
}

.navbar--links li {
  text-align: center;
}

.navbar--links a {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  display: block;
  transition: 200ms ease-in-out;
}

.navbar--links a:hover {
  color: var(--clr-light);
  background-color: rgba(245, 56, 56, 0.6);
}

.toggle--button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 40px;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: var(--clr-dark);
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 2em;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.hero--image {
  max-width: 600px;
  width: 100%;
}

.hero__title {
  font-size: 2rem;
}

.hero__title span {
  font-weight: var(--fw-black);
}

.cta p {
  text-align: center;

  margin-bottom: 3em;
}

.main--stats {
  background-color: #ffffff;
  margin-top: 5em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 25px -15px rgba(245, 56, 56, 0.35);
  border-radius: 10px;
  max-width: 1140px;
  width: 100%;
}

.stat {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  margin-left: 4.5em;
}

.stats--logo {
  width: 50px;
  margin-right: 2em;
}

.stat p {
  margin: 0;
}

.stat p:first-of-type {
  font-size: 1.25rem;
  font-weight: var(--fw-black);
}

.stat p:last-of-type {
  font-size: 1rem;
  font-weight: var(--fw-normal);
}

.container {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

.section1--image {
  margin-top: 2em;
  width: 100%;
  max-width: 600px;
}

.features {
  margin: 0 auto;
  margin-top: 2em;
  list-style: none;
}

.feature li {
  margin-top: 1.2em;
}

.features li::before {
  content: url(./images/check.svg);
  vertical-align: -30%;
  margin-right: 1em;
}

.plans {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4em;
}

.plans--boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1140px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-top: 2em;
  padding-bottom: 2em;
}

.plan:hover {
  border-color: var(--clr-primary);
}

.plan--header {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-top: 1em;
}

.plan--header img {
  padding-bottom: 2em;
  width: 50px;
}

.plan--header p {
  margin-left: 1em;
  font-size: 1.125rem;
  color: var(--clr-titles);
  font-weight: var(--fw-bold);
}

.plan--points {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  list-style: none;
}

.plan--point::before {
  content: url(./images/check-plans.svg);
  margin-right: 1em;
}

.plan--price {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan--price p {
  color: var(--clr-titles);
  font-weight: var(--fw-bold);
  margin-right: 2em;
}

.plan--price a {
  font-size: 1rem;
  border-width: 2px;
}

.map {
  margin-top: 7em;
  text-align: center;
}

.map img {
  margin-top: 2em;
  width: 100%;
  max-width: 1060px;
}

.main-carousel img {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 200px;
}

.carousel-cell {
  width: 100%;

  counter-increment: gallery-cell;
}

.testimonials {
  margin-top: 2em;
  text-align: center;
}

.testimonial {
  text-align: left;
  margin-top: 2em;
  padding: 1em 1em;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.testimonial--head {
  display: flex;

  align-items: center;
}

.testimonial--head h3 {
  margin-bottom: 0;
}

.testimonial--profilepic {
  display: inline;
  margin-right: 1em;
  padding-top: 1em;
}

.testimonial--rating {
  margin-left: 2em;
}

.testimonial--rating::after {
  content: url(./images/star.svg);
  margin-left: 0.5em;
}

/* .testimonial--star {
}

.testimonial--star::before {
  content: "4.5";
} */

.testimonial--body {
  margin-top: 1em;
}

.testimonials-carousel {
  margin: 0 auto;

  max-width: 1140px;
}

.testimonials-carousel .carousel-cell {
  width: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.subscribe {
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
  padding-bottom: 3em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 15px 15px -6px rgba(245, 56, 56, 0.35);
  max-width: 1060px;
}

.subscribe--cta p {
  margin-bottom: 2em;
}

.subscribe__title {
  font-size: 1.6rem;
}

.footer {
  margin-top: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer--logo {
  width: 150px;
  margin-bottom: 1.5em;
  align-self: center;
}

.footer--icons {
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .toggle--button {
    display: none;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar--links ul {
    display: flex;
    flex-direction: row;
  }

  .navbar--links a:hover {
    color: var(--clr-primary);
    background-color: inherit;
    transform: scale(1.5, 1.5);
  }

  .main--stats {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4em;
    padding: 4em;
  }

  .stat {
    margin-left: 0;
  }

  .plans--boxes {
    margin: 0 auto;
  }

  .testimonials-carousel .carousel-cell {
    width: 32.5%;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
  }

  .hero--image {
    order: 10;
  }

  .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .plan {
    margin: 2em;
  }

  .plan--header {
    flex-direction: column;
    padding: 0;
    padding-top: 6em;
  }

  .plan--header img {
    width: 60%;
    margin-bottom: 2em;
  }

  .plans--boxes {
    padding: 2em;
    flex-direction: row;
  }

  .plan--price {
    flex-direction: column;
  }

  .plan--price p {
    margin: 0;
    margin-bottom: 7em;
  }

  .plan--price a {
    padding: 0.7em 4em;
  }
}
